<div id="edit">
    <article id="tables">
        <table style="width:100%">
            <tr>
                <th>PID</th>
                <th>SID</th>
                <th>Date</th>
                <th>Reading</th> 
                <th>Amount</th>
                <th>Advisement</th>
                <th>Acceptance</th>
                <th>% Accepted</th>
            </tr>
                <td><%= @pannel.PID %></td>
                <td><%= @pannel.SID %></td>
                <td><%= @pannel.date.month %>-<%= @pannel.date.day %>-<%= @pannel.date.year %></td>
                <% if @pannel.reading %>
                    <td><%= @pannel.reading %> pts</td>
                <% else %>
                    <td>n/a</td>
                <% end %>
                <% if @pannel.amount %>
                    <td><%= @pannel.amount %> units</td>
                <% else %>
                    <td>n/a</td>
                <% end %>
                <% if @pannel.advisement %>
                    <td><%= @pannel.advisement %> units</td>
                <% else %>
                    <td>n/a</td>
                <% end %>
                <% if @pannel.acceptance %>
                    <td><%= @pannel.acceptance %></td>
                <% else %>
                    <td>n/a</td>
                <% end %>
                <% if @pannel.accepted %>
                    <td><%= @pannel.accepted %>%</td>
                <% else %>
                    <td>n/a</td>
                <% end %>
            </tr>
        </table>
    </article>
//
    <form class="update" action="<%= pannel_url %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="pannel[advisement]" placeholder="Advicement" value="<%= @pannel.advisement %>">
        <input class="button" type="submit" name="" value="Update Advisement">
    </form>

</div>
